:root {
  --primary-color: #294c60;
  --secondary-color: #376783;
  --accent-color: #001b2e;
  --light-color: #adb6c4;
  --dark-color: #343a40;
  --background-color: #ffefd3;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all var(--transition-speed) ease;
}

header {
  background-color: var(--primary-color);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(95, 165, 92, 0.1);
}

.nav-img {
  filter: grayscale(30%);
}

.nav-img:hover {
  filter: grayscale(0%);
}

.logo {
  color: var(--background-color);
}

.logo::after {
  background-color: var(--primary-color);
}

.logo:hover {
  color: var(--primary-color);
}

.logo:hover::after {
  width: 100%;
}

.hero::after {
  background: linear-gradient(90deg, transparent, var(--primary-color), transparent);
}

.highlight {
  color: var(--primary-color);
}

.highlight::after {
  background-color: rgba(71, 169, 249, 0.2);
}

.subtitle {
  color: var(--secondary-color);
}

.project-card {
  background-color: white;
  box-shadow: var(--shadow);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.project-card h3 {
  color: var(--secondary-color);
}

.project-card p {
  color: #555;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  box-shadow: 0 4px 10px rgba(95, 165, 92, 0.2);
}

.btn:hover {
  background-color: var(--background-color);
  box-shadow: 0 6px 15px rgba(71, 169, 249, 0.4);
  color: var(--accent-color);
}

.btn:active {
  box-shadow: 0 2px 5px rgba(71, 169, 249, 0.2);
  color: var(--accent-color);
}

/* Footer */
footer {
  background-color: var(--light-color);
  color: var(--accent-color);
}

footer::before {
  background: linear-gradient(90deg, transparent, var(--primary-color), transparent);
}
